{{ form_start(genusForm) }}

    {{ form_row(genusForm.name) }}
    {{ form_row(genusForm.subFamily) }}
    {{ form_row(genusForm.speciesCount, {
        'label': 'Number of Species'
    }) }}
    {{ form_row(genusForm.funFact) }}
    {{ form_row(genusForm.isPublished) }}
    {{ form_row(genusForm.firstDiscoveredAt) }}

{% if tag == "new" %}
    <button type="submit" class="btn btn-primary">Save</button>
{% else %}
    <button type="submit" class="btn btn-primary">Update</button>
{% endif %}

{# si pones dentro del botón para submmit lo de formnovalidate, luego en las cosas que tienen que submit si o sí tienen que ponerles un mensajito de error
pq si submit algo vacío que tiene que estar lleno symfony te va a dar un error (haces lo de @Assert\NotBlank #}

{{ form_end(genusForm) }}