{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">

        {#{% for message in app.flashes('success') %}#}
            {#<div class="bg-success text-center"> {{ message }}</div>#}
        {#{% endfor %}#}

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right" style="margin-bottom: 10px; margin-top: 20px;">
                    <a href="{{ path('admin_genus_new') }}" class="btn btn-primary pull-right">Add <span class="fa fa-plus-circle"></span></a>
                </div>
                <h1>Genuses</h1>
                <table class="table table-striped">
                    <tr>
                        <th>Genus</th>
                        <th>SubFamily</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for genus in genuses %}
                        <tr>
                            <td>{{ genus.name }}</td>
                            {%  if genus.subFamily is not null %}
                            <td>{{ genus.subFamily.name }}</td>
                            {% else %}
                                <td>Undefined</td>
                            {% endif %}
                            <td>
                                <a href="{{ path('admin_genus_edit', {'id': genus.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                                {#<a href="{{ path('admin_genus_new', {'id': genus.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>#}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}