{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {#{% for genus in genuses %}#}
    {#{{ genus.name}}#}
    {#{% endfor %}#}
    <div class="container">
        <br><br>
        <a class="btn btn-warning" href="{{ path('tutu') }}">go to tutu</a>
    </div>

    <p>{{ other }}</p>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
