{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <br><br>
        <a class="btn btn-info" href="{{ path('toto') }}">back to toto</a>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}